@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Gloria+Hallelujah&family=Meddon&family=Meie+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}
section {
  z-index: 10;
  position: relative;
}
p {
  font-size: 18px;
  text-align: center;
}
p.venue {
  font-size: 30px;
  margin-bottom: 20px;
}
span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
span.i-do {
  font-size: 30px;
  font-family: "Gloria Hallelujah", cursive;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Meddon", cursive;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
td {
  text-align: center;
}
img {
  width: 100%;
}
input,
textarea {
  width: 100%;
  background: #f3f1f1;
  border: none;
  padding: 10px;
}
.submit-btn {
  padding: 10px 5px;
  width: 100%;
  border: none;
  color: #fff;
  background-color: #cab9a7;
  margin-top: 10px;
  cursor: pointer;
}
.e-invite,
.dresscode {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.e-invite > a,
.dresscode > a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #cab9a7;
  padding: 10px 15px;
}
.form > .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.hero > div > div:first-child {
  width: 100%;
}
.hero > div > div:first-child > img {
  width: 100%;
}
.hero > div > div:last-child > h1 {
  font-size: 50px;
}
.about-us {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #cab9a7;
  color: #fff;
  padding: 70px 20px;
}
.date,
.place-time {
  padding: 70px 20px;
  background-color: transparent;
}
.proposal,
.date,
.place-time,
.attire,
.rsvp {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.proposal {
  padding: 70px 20px 600px 20px;
  background-color: #fff;
}
.proposal > div > p {
  padding-bottom: 100px;
}
.proposal > div > div:nth-child(2) {
  margin-bottom: 30px;
}
.proposal > div > div:nth-child(2) > img {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.date {
  margin-bottom: 40px;
  padding-top: 50px;
}
.date > div > div > h3 {
  text-align: center;
}
.date > div > div > table {
  margin: 0 auto;
}
.place-time > div > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.place-time > div > div:nth-child(3) > p {
  margin-bottom: 20px;
}
.place-time > div > div:first-child > hr {
  width: 3px;
  height: 50px;
  background-color: #000;
  border: none;
}
.place-time > div > div:nth-child(3) {
  margin-bottom: 20px;
}
iframe {
  width: 100%;
}
.attire {
  padding: 70px 0px 0px 0px;
  background-color: #fff;
  width: 100%;
}
.attire > div > div {
  width: 100%;
}
.attire > div > div > img {
  width: 100%;
  height: auto;
}
.rsvp {
  background-color: #fff;
  padding: 20px 20px 70px 20px;
}
.place-time {
  margin-bottom: 70px;
}
.countdown {
  width: 100%;
  height: 100%;
  background: #cab9a7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 30px 0;
}
.countdown > div:last-child {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.countdown > div:last-child > p,
.countdown > div:last-child > p > span {
  font-size: 12px;
}
.countdown > h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Oswald";
  margin-bottom: 20px;
}
.countdown > div:nth-child(3) > hr {
  background-color: #fff;
  border: none;
  width: 2px;
}
.timebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.time {
  text-align: center;
}
.time > h3 {
  font-size: 30px;
  font-weight: normal;
}
.time > p {
  font-weight: lighter;
}
.seperator {
  margin-top: 10px;
}
.field {
  margin-bottom: 15px;
}
.hero,
.proposal,
.date,
.sponsors,
.place-time,
.attire,
.rsvp,
.countdown {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

/* CSS for h2.reception title animation */
h2.reception {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-right {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.carousel {
  position: unset;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.carousel > img {
  position: absolute;
  width: 100%;
  height: 500px;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel > img.active {
  opacity: 1;
}
.sponsors {
  padding: 0px 20px 70px 20px;
  margin-bottom: 70px;
  background-color: #fff;
  width: 100%;
}
.sponsors > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sponsors > div > h2 {
  margin-bottom: 30px;
}
.pastor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pastor > span {
  font-size: 14px;
}
.p-sponsors > p {
  font-family: "Meie Script", serif;
  font-size: 30px;
  margin-bottom: 30px;
}
.p-sponsors > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
.p-sponsors > div > div.ninong {
  gap: 20px;
}
.p-sponsors > div > div.ninong > p {
  text-align: right;
}
.p-sponsors > div > div.ninang > p {
  text-align: left;
}
.secondary-sponsors > p {
  font-family: "Meie Script", serif;
  font-size: 30px;
  margin-bottom: 30px;
}
.secondary-sponsors > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.secondary-sponsors > div > p {
  font-family: "Oswald";
  font-size: 18px;
  font-weight: bold;
}
.sponsors > div > .bestman > p,
.sponsors > div > .maid-of-honor > p {
  font-size: 30px;
  font-family: "Meie Script", serif;
  margin-bottom: 10px;
}
.groomsmen-bridesmaid {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.groomsmen-bridesmaid > div > p:first-child {
  font-family: "Meie Script", serif;
  font-size: 30px;
  margin-bottom: 10px;
}
.groomsmen-bridesmaid > div:first-child > p {
  text-align: right;
}
.groomsmen-bridesmaid > div:last-child > p {
  text-align: left;
}
.sponsors > div > .bearers > div > p:first-child {
  font-family: "Meie Script", serif;
  font-size: 30px;
  margin-bottom: 10px;
}
.sponsors > div > .bearers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}
.accordion {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.accordion-item {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.accordion-header {
  background-color: #cab9a7;
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.accordion-item.active .accordion-header {
  background-color: #fff;
  color: #000;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  background-color: white;
}

.accordion-item.active .accordion-content {
  max-height: 500px; /* Adjust based on content */
  opacity: 1;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  .proposal > div,
  .attire > div {
    max-width: 420px;
    margin: 0 auto;
  }
  .proposal,
  .sponsors,
  .attire,
  .rsvp {
    max-width: 100%;
  }
  .accordion {
    padding: 0;
  }
}
@media screen and (min-width: 900px) {
  .hero,
  .proposal > div,
  .date,
  .place-time,
  .rsvp > div,
  .about-us > div,
  .attire > div {
    max-width: 800px;
    margin: 0 auto;
  }
  .attire {
    padding: 70px 0px 0px 0px;
  }
  .carousel > img {
    height: auto;
    max-width: 800px;
    border: 10px solid #fff;
  }
  .proposal {
  }
  .about-us,
  .countdown {
    max-width: 100%;
  }
  .date {
    margin-top: 680px;
    margin-bottom: 70px;
  }
  .date > div > div {
    max-width: 600px;
    margin: 0 auto;
  }
  .hero {
    height: 80%;
  }
  .place-time {
    margin-bottom: 70px;
    padding-top: 70px;
  }
}
