@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Meddon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.2;
}
section {
  z-index: 10;
  position: relative;
}
p {
  font-size: 16px;
  text-align: center;
}
p.venue {
  font-size: 30px;
  margin-bottom: 20px;
}
span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
span.i-do {
  font-size: 30px;
  font-family: "Gloria Hallelujah", cursive;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Meddon", cursive;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
td {
  text-align: center;
}
img {
  width: 100%;
}
input,
textarea {
  width: 100%;
  background: #fff;
  border: none;
  padding: 10px;
}
.submit-btn {
  padding: 10px 5px;
  width: 100%;
  border: none;
  color: #fff;
  background-color: #000;
  margin-top: 10px;
}
.form > .field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.hero > div > div:first-child {
  width: 100%;
}
.hero > div > div:first-child > img {
  width: 100%;
}
.hero > div > div:last-child > h1 {
  font-size: 50px;
}
.about-us {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  padding: 70px 20px;
}
.proposal,
.date,
.place-time,
.attire,
.rsvp {
  padding: 70px 20px;
  background-color: transparent;
}
.proposal,
.date,
.place-time,
.attire,
.rsvp {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.proposal {
  padding: 70px 20px;
}
.proposal > div > p {
  padding-bottom: 100px;
}
.proposal > div > div:nth-child(2) {
  margin-bottom: 30px;
}
.proposal > div > div:nth-child(2) > img {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.date {
  margin-bottom: 40px;
  margin-top: 450px;
  padding-top: 50px;
}
.date > div > div > h3 {
  text-align: center;
}
.date > div > div > table {
  margin: 0 auto;
}
.place-time > div > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.place-time > div > div:nth-child(3) > p {
  margin-bottom: 20px;
}
.place-time > div > div:first-child > hr {
  width: 3px;
  height: 55px;
  background-color: #000;
}
.place-time > div > div:nth-child(3) {
  margin-bottom: 20px;
}
iframe {
  width: 100%;
}
.attire {
  padding: 70px 20px;
}
.attire > div > div.attire-container,
.attire > div > div.color-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.attire > div > div.attire-container > div > img {
  width: 70px;
}
.attire > div > div.color-container > div > img {
  width: 80px;
}
.attire > div > div:nth-child(2),
.attire > div > div:nth-child(4),
.attire > div > div:nth-child(3),
.attire > div > div:nth-child(5) {
  margin-bottom: 40px;
}
.attire > div > div:nth-child(6) > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.countdown {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 30px 0;
}
.countdown > div:last-child {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.countdown > div:last-child > p,
.countdown > div:last-child > p > span {
  font-size: 12px;
}
.countdown > h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Poppins";
  margin-bottom: 20px;
}
.timebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.time {
  text-align: center;
}
.time > h3 {
  font-size: 30px;
  font-weight: normal;
}
.time > p {
  font-weight: lighter;
}
.seperator {
  margin-top: 10px;
}
.field {
  margin-bottom: 15px;
}
section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-left {
  opacity: 1;
  transform: translateX(0);
}

/* CSS for h2.reception title animation */
h2.reception {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-right {
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.carousel {
  position: unset;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.carousel > img {
  position: absolute;
  width: 100%;
  height: 500px;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel > img.active {
  opacity: 1;
}

@media screen and (min-width: 600px) {
  section {
    max-width: 420px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .hero,
  .proposal,
  .date,
  .place-time,
  .attire,
  .rsvp,
  .about-us > div {
    max-width: 800px;
    margin: 0 auto;
  }
  .carousel > img {
    height: auto;
  }
  .about-us,
  .countdown {
    max-width: 100%;
  }
  .date {
    margin-top: 1150px;
    margin-bottom: 70px;
  }
  .date > div > div {
    max-width: 600px;
    margin: 0 auto;
  }
  .hero {
    height: 80%;
  }
}
